body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;

}
nav a{
  background-color: gray;
}

figure ~ p{
  padding:0 20%;
}

#details{
  background-color: red;
  display: flex;
  justify-content: space-around;
}